
:root {
    --main-white: #f0f0f0;
    --main-red: #be3144;
    --main-blue: #45567d;
    --main-gray: #303841;
    --main-gradient:radial-gradient(ellipse farthest-side at 76% 77%, rgba(245, 228, 212, 0.25) 4%, rgba(255, 255, 255, 0) calc(4% + 1px)), radial-gradient(circle at 76% 40%, #f0e7dd00 4%, rgba(255, 255, 255, 0) 4.18%), linear-gradient(135deg, #00fff279 0%, #00003600 100%),  linear-gradient(180deg, #f7b741 0%, #f5eab0 69%, #9cf7fdb0 70%, #35c1f8a1 100%),radial-gradient(70% 140% at 90% 10%, #f7f6f4 0%, #ec4a0a calc(30% + 1px),rgba(34,34,34,0) 100%); 
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
  
  @media (max-width: 75em) {
    html {
      font-size: 60%;
    }
  }
  
  @media (max-width: 61.25em) {
    html {
      font-size: 58%;
    }
  }
  
  @media (max-width: 28.75em) {
    html {
      font-size: 55%;
    }
  }
  
  
  body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem; 
    font-weight: 400;
    line-height: 1.4;
    color: var(--main-white);
  }
  
  h1,
  h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
  }
  
  h1 {
    font-size: 6rem;
  }
  
  h2 {
    font-size: 4.2rem;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: var(--main-white);
  }
  
  img {
    display: block;
    width: 100%;
  }
  
  
  .nav {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 0 rgba(3, 174, 204, 0.4);
    z-index: 10;
  }
  .nav:hover
  {
    background: linear-gradient(60deg, #160aa0 0%, #ec4a0a 50%, #00FFFF 100%)
  }
  .nav-list {
    display: flex;
    margin-right: 2rem;
  }
  
  @media (max-width: 28.75em) {
    .nav {
      justify-content: center;
    }
  
    .nav-list {
      margin: 0 1rem;
    }
  }
  
  .nav-list a {
    display: block;
    font-size: 2.2rem;
    padding: 2rem;
    color: green;
  }
  
  .nav-list a:hover {
    background: var(--main-white);
  }
  
  .welcome-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: radial-gradient(ellipse farthest-side at 76% 77%, rgba(245, 228, 212, 0.25) 4%, rgba(255, 255, 255, 0) calc(4% + 1px)), radial-gradient(circle at 76% 40%, #f0e7dd00 4%, rgba(255, 255, 255, 0) 4.18%), linear-gradient(135deg, #00fff279 0%, #00003600 100%),  linear-gradient(180deg, #f7b741 0%, #f5eab0 69%, #9cf7fdb0 70%, #35c1f8a1 100%),radial-gradient(70% 140% at 90% 10%, #f7f6f4 0%, #ec4a0a calc(30% + 1px),rgba(34,34,34,0) 100%); 
    background-blend-mode: normal, normal, screen, overlay, normal;
  }

  .avatar {
    width: 150px;
    height: 150px;
    box-sizing: border-box;
    border: 5px rgb(253, 251, 252) solid;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
  
    img {
      width: 100%;
      height: auto;
    }
  }
  
  @keyframes float {
    0% {
      box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
      transform: translatey(0px);
    }
  
    50% {
      box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
      transform: translatey(-20px);
    }
  
    100% {
      box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
      transform: translatey(0px);
    }
  }
  
  
  .decomposed {
    position: relative;
    margin: auto;
    width: 80%;
    height: 10%;
    color: transparent;
    font-family: 'Comic Sans MS', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif,'Cambay', sans-serif;
    font-size: 3vw;
    font-weight: 700;
    letter-spacing: -0.02em;
    line-height: 1.03em;

  }
  
  .decomposed > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #0e0e0d;
    pointer-events: none;
    
  }
  
  .decomposed > div:nth-child(1) {
    -webkit-mask-image: linear-gradient(black 25%, transparent 25%);
    mask-image: linear-gradient(black 25%, transparent 25%);
    animation: decomposed1 5s infinite, mainFadeIn 4s forwards;
    
  }
  
  .decomposed > div:nth-child(2) {
    -webkit-mask-image: linear-gradient(transparent 25%, black 25%, black 50%, transparent 50%);
    mask-image: linear-gradient(transparent 25%, black 25%, black 50%, transparent 50%);
    animation: decomposed2 5s infinite, mainFadeIn 4s forwards;
  }
  
  .decomposed > div:nth-child(3) {
     -webkit-mask-image: linear-gradient(transparent 50%, black 50%, black 75%, transparent 75%);
    mask-image: linear-gradient(transparent 50%, black 50%, black 75%, transparent 75%);
    animation: decomposed3 5s infinite, mainFadeIn 4s forwards;
  }
  
  .decomposed > div:nth-child(4) {
     -webkit-mask-image: linear-gradient(transparent 75%, black 75%);
    mask-image: linear-gradient(transparent 75%, black 75%);
    animation: decomposed4 5s infinite,mainFadeIn 4s forwards;
  }
  
  @keyframes decomposed1 {
    0% {
      transform: translateX(100%);
    }
    26% {
      transform: translateX(0%);
    }
    83% {
      transform: translateX(-0.1%);
    }
    100% {
      transform: translateX(-120%);
    }
  }
  
  @keyframes decomposed2 {
    0% {
      transform: translateX(100%);
    }
    24% {
      transform: translateX(0.5%);
    }
    82% {
      transform: translateX(-0.2%);
    }
    100% {
      transform: translateX(-125%);
    }
  }
  
  @keyframes decomposed3 {
    0% {
      transform: translateX(100%);
    }
    22% {
      transform: translateX(0%);
    }
    81% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-130%);
    }
  }
  
  @keyframes decomposed4 {
    0% {
      transform: translateX(100%);
    }
    20% {
      transform: translateX(0%);
    }
    80% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-135%);
    }
  }
  
  .block {
    
    width:0%;
    height: 12%;
    background: #18183a;
    position: absolute;
    
    animation: mainBlock 2s cubic-bezier(.74, .06, .4, .92) forwards;
    display: flex;
  }
  @keyframes mainBlock {
    0% {
      width: 0%;
      left: 0;
  
    }
    50% {
      width: 100%;
      left: 0;
  
    }
    100% {
      width: 0;
      left: 100%;
    }
  }
  @keyframes mainFadeIn {
    0% {
      opacity: 0;
    }
    25%
    {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  
  /* Projects section */
  
  .projects-section {
    border-top: solid 10px #181617;
    text-align: center;
    padding: 10rem 2rem;
    background: var(--main-gradient);
    background-blend-mode: normal, normal, screen, overlay, normal;
  }
  
  .projects-section-header {
    max-width: 640px;
    margin: 0 auto 6rem auto;
    border-top: 0.3rem solid var(--main-white);
    border-bottom: 0.3rem solid var(--main-white);
    background: linear-gradient(to bottom left, cyan 0%, palegoldenrod 0%);
    font-size:larger;
    font-family: 'Harlow Solid Italic','Matura MT Script Capitals','Imprint MT Shadow',Cochin;;
    color: magenta;

  }
  
  @media (max-width: 28.75em) {
    .projects-section-header {
      font-size: 4rem;
    }
  }
  
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
  }
  
  @media (max-width: 30.625em) {
    .projects-section {
      padding: 6rem 1rem;
    }
  
    .projects-grid {
      grid-template-columns: 1fr;
    }
  }
  
  .project {

    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    position: relative;
    display: inline-block;
    transition: transform 0.5s ease-out;
  }
  .project:hover
  {
    transform: translateY(10px);
  }

  .project-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .overlay-text {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: green;
    border-top-left-radius: 2rem;
    color: white; 
    padding: 10px 20px; 
    font-size: 20px; 
    text-align: center;
  }

  .code {
    color: white;
    transition: color 0.3s ease-out;
  }
  
  .project:hover .code {
    color: #ff7f50;
  }

  .project-title {
    font-size: 2rem;
    padding: 2rem 0.5rem;
  }
  
  .btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
  }

  .download{
    font-size: 2rem;
    color: green;
    background: var(--main-gray);
    transition: background 0.3s ease-out;
  }
  
  .download:hover {
    background: var(--main-gradient);
  }
  
  .download:hover > i {
    transform: translateX(2px);
  }
  
  .download > i {
    margin-left: 10px;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
  }
  
  .contact-section {
    border-top: solid 10px #181617;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    padding: 0 2rem;
    background: linear-gradient(60deg, #160aa0 0%, #ec4a0a 50%, #00FFFF 100%)
  }
  .contact-inside
  {
    width: 40%;
    height: 90%;
    border-left: 0.4rem solid white;
    border-right: 0.4rem solid white;
    border-top: 0.4rem solid white;
    border-bottom: 0.4rem solid white;
    border-radius: 10%;
    padding: 2%;
  }
  .myphoto{
    width: 40%;
  
    height: 40%;
    margin:  0 auto;
    box-sizing: border-box;
    border: 5px rgb(253, 251, 252) solid;
    border-radius: 5%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    img {
      width: 100%;
      height: auto;
    }  }
  
  .contact-links {
    display: block;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 2rem;
    flex-wrap: wrap;
  }
  
  .contact-details {
    font-size: 2.4rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
  }
  
  .contact-details:hover {
    transform: translateY(8px);
  }
  
  
  footer
{
  text-align: center;
  background: linear-gradient(60deg, #160aa0 0%, #ec4a0a 50%, #00FFFF 100%);
  border-top: solid 10px #181617;
}
footer > p {
  margin: 2rem;
}


#foot
{
  color: #00FFFA;
  font-weight: bold;
  text-decoration:solid;
  font-size: x-large;
  font-family: 'French Script MT';
  

  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;

 
}
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #eeeeee, 0 0 20px #000000, 0 0 30px #000000, 0 0 40px #000000, 
                 0 0 50px #1DEEFF, 0 0 60px #1DEEFF, 0 0 70px #1DEEFF;
    animation: animate 1s infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
  }
  to {
    text-shadow: 0 0 20px #eeeeee, 0 0 30px #FFF605, 0 0 40px #FFF605, 0 0 50px #FFF605,
                 0 0 60px #FFF605, 0 0 70px #FFF605, 0 0 80px #FFF605;
  }
}
@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

  
  @media (max-width: 28.75em) {
    footer {
      flex-direction: column;
      text-align: center;
    }
  }